:root {
  --bodyFont: "Nunito Sans", sans-serif;
  --colour1: #f4f9f4;
  --colour2: #a7d7c5;
  --colour3: #74b49b;
  --colour4: #5c8d89;
}

body {
  font-family: var(--bodyFont);
  margin: 0;
  background: var(--colour1);
}

a {
  text-decoration: none;
}

/* Navigation*/
header {
  position: relative;
  top: 0;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  color: var(--colour3);
}

header .logo {
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition-duration: 0.2s;
}

header .navigation a:hover {
  color: var(--colour3);
}

header .navigation a:not(:last-child) {
  margin-right: 30px;
}

.contactbutton {
  color: var(--colour1) !important;
  background: var(--colour3);
}

.contactbutton:hover {
  background: var(--colour4);
  color: var(--colour1) !important;
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

/* Main*/

.container {
  margin-top: 30px;
}
.presentation {
  padding-top: 10px;
}

.image-col {
  padding-top: 40px;
}

.presentation h2 {
  font-size: 40px;
}

.presentation p {
  font-size: 20px;
}

.img-fluid {
  border-radius: 4px;
}

.presentation h2 {
  font-weight: bold;
  color: var(--colour4);
}

.presentation p {
  font-weight: 300;
}

.btn {
  cursor: pointer;
  color: var(--colour1);
  background: var(--colour3);
  transition: 0.2s;
}

.btn:hover {
  color: var(--colour1);
  background: var(--colour4);
}
/*Featured*/

.featured-recipes h5 {
  color: var(--colour4);
}

.featured-title {
  text-align: center;
}

.recipe {
  display: block;
}

.recipe-img {
  height: 15rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.recipe h5 {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: grey;
}

.recipe p {
  margin-bottom: 0;
  line-height: 1;
  color: grey;
  margin-top: 0.5rem;
  letter-spacing: normal;
}

.recipes-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}

.featured-recipes {
  margin-left: 100px;
  margin-right: 60px;
}

@media (max-width: 960px) {
  header .navigation {
    display: none;
  }
  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
  }

  label:hover {
    color: #fff;
  }

  label .close-btn {
    display: none;
  }

  #check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn {
    display: none;
  }

  #check:checked ~ header .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn {
    position: absolute;
  }

  header .logo {
    position: absolute;
    bottom: -6px;
  }
}
